body {
  background-image: linear-gradient(to top left, #a8eda8, #a8ed, aqua);
}
.main-class {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 50px;
  background-color: linear-gradient(to right, #a8eda8, #a8ed, aqua);
}
.card {
  height: 350px;
  width: 270px;
  border-radius: 20px;
  border: 1px solid black;
}
.box {
  text-align: start;
  width: 100%;
  padding-left: 35px;
  margin-top: 7px;
  font-size: large;
}
.h2 {
  text-align: center;
}
.btn {
  margin-top: 2px;
}
.head1 {
  text-align: center;
}
