.body {
  margin: 0px;
  display: block;
}
.card-block {
  border: 1px solid white;
  height: 200px;
  width: 650px;
  background-color: white;
  /* margin-top: 70px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.head {
  width: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: #1e80e9;
}
.header {
  text-align: center;
}
.down {
  color: white;
  text-align: center;
  margin-top: 40px;
}
.input {
  height: 30px;
}
.submit {
  text-align: center;
  margin-top: 20px;
  width: 90px;
  height: 32px;
  background-color: #66bb6ab8;
  cursor: pointer;
}
.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box {
  width: 20%;
  background-color: white;
  text-align: center;
  margin-top: 23px;
}
.reload {
  display: none;
  background-color: #66bb6ab8;
}
